* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.html    text
*.css     text
*.js      text
*.txt     text eol=lf
*.xml     text eol=lf
*.yml     text eol=lf
*.md      text eol=lf

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.ico     binary